# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Model outputs
ml_models/**/saved_model/
ml_models/**/saved_models/
ml_models/**/results/
*.pt
*.pth
*.bin
*.safetensors

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Dataset Folders
ml_models/**/Dataset/
ml_models/audio_model/UK/
ml_models/audio_model/USA/