# Web Backend
Flask
flask-cors

# NLP / Transformers
transformers
datasets
torch

# Classical ML
scikit-learn
joblib
pandas
numpy
torch  
torchaudio

# Vision
torchvision
opencv-python


# NLP Utilities
nltk

# Vector DB

# Security
PyJWT
cryptography
python-dotenv

# Utilities
tqdm